<thomaz:SlideFrame id="settingsFrame"
    title="@i18n/thomaz/settings/title"
    iconInterpolation="linear">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        grow="1.0">

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            paddingTop="20"
            paddingLeft="60"
            paddingRight="60"
            paddingBottom="20">

            <!-- Settings cells inserted by SettingsActivity (language, ...) -->
            <brls:Box
                id="settingsListBox"
                width="auto"
                height="auto"
                axis="column" />

            <!-- Note: language change applies on next launch -->
            <brls:Label
                id="restartNote"
                width="auto"
                height="auto"
                text="@i18n/thomaz/settings/restart_hint"
                fontSize="14"
                marginTop="16" />

        </brls:Box>

    </brls:ScrollingFrame>

</thomaz:SlideFrame>
