<brls:AppletFrame id="settingsFrame"
    title="@i18n/thomaz/settings/title"
    iconInterpolation="linear">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        grow="1.0">

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            paddingTop="32"
            paddingLeft="48"
            paddingRight="48"
            paddingBottom="28">

            <!-- Settings cells inserted by SettingsActivity (language, ...) -->
            <AnimatedBox
                id="settingsListBox"
                width="auto"
                height="auto"
                entranceDelay="0"
                axis="column" />

            <!-- Note: language change applies on next launch -->
            <AnimatedBox
                width="auto"
                height="auto"
                entranceDelay="120"
                axis="column">
                <brls:Label
                    id="restartNote"
                    width="auto"
                    height="auto"
                    text="@i18n/thomaz/settings/restart_hint"
                    fontSize="14"
                    marginTop="16" />
            </AnimatedBox>

        </brls:Box>

    </brls:ScrollingFrame>

</brls:AppletFrame>
